.global-nav {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 16px;
  left: 0px;
  z-index: 100;
}